.subscription-card {
  width: 114rem;
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: $color-white;
  width: 35rem;
  min-height: 50rem;
  height: max-content;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  padding: 2rem;
  text-align: center;
  margin-left: 1.8rem;
  overflow: hidden;
  position: relative;

  &__popular {
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    border-radius: 0 0 0 1.5rem;
  }

  &.active {
    background-color: $color-blue;
    transform: scale(1.1);

    & > *:not(.btn) {
      color: $color-white;
    }
  }

  &__plan {
    text-align: center;
    padding: 2rem 0;

    &-name {
      font-size: 2.5rem;

      &--1 {
        color: rgb(255, 217, 0);
      }

      &--2 {
        color: $color-white;
      }

      &--3 {
        color: orangered;
      }
    }

    &-price {
      display: flex;
      justify-content: center;
      flex-direction: column;

      & span:nth-child(1) {
        font-size: 4rem;
        font-weight: 600;
      }
    }
  }

  &__details {
    padding: 1rem 2rem;
    text-align: left;

    li {
      font-size: 1.4rem;

      &:not(:last-child) {
        padding-bottom: 1.5rem;
      }
    }
  }

  .checkmark {
    margin-right: 1rem;
    font-size: 2rem;
    color: red;
  }
}

@media (min-width: 788px) and (max-width: 1380px) {
  html {
    font-size: 50%;
  }
}
